<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>ReMon :: Analytics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link type="text/css" rel="stylesheet" href="{{ static_url('css/bootstrap.min.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ static_url('css/rickshaw.min.css') }}">
    <script type="text/javascript" src="{{ static_url('js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/d3.v3.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/rickshaw.min.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/handlebars.js') }}"></script>
    <!--[if lt IE 9]>
        <script type="text/javascript" src="{{ static_url('js/html5shiv.min.js') }}"></script>
        <script type="text/javascript" src="{{ static_url('js/respond.min.js') }}"></script>
    <![endif]-->
</head>

<body>
<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">ReMon</a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-12">
        <h2>Analytics</h2>
        <hr>

        {% if ip == None %}
        <h3>Users ({{ len(users) }})</h3>
        <ul class="list-inline">
            {% for u in sorted(users) %}
            <li><a class="label label-default" href="/analytics?ip={{ u }}">{{ u }}</a></li>
            {% end %}
        </ul>
        {% else %}
        <h3>IP: {{ ip }}</h3>
        <p><a class="label label-primary" href="/analytics">{{ ip }} &times;</a></p>
        {% end %}
        </div>
    </div>
    <hr>

    <div class="row">
        {% for (title, key) in (('Total', 'total'), ('Last 1 Day', 'day'), ('Last 1 Hour', 'hour')) %}
        <div class="col-md-4">
            <h3>{{ title }}</h3>
            <p>Access count: {{ access_count[key] }}</p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Opcode</th>
                        <th>Count</th>
                    </tr>
                </thead>
                <tbody>
                    {% for (c, o) in sorted(opcode_count[key].items(), reverse=True) %}
                    <tr>
                        <td>{{ o }}</td>
                        <td>{{ c }}</td>
                    </tr>
                    {% end %}
                </tbody>
            </table>
        </div>
        {% end %}
    </div>
</div>
</body>
</html>
